//Propriedadess gerais
.chart-portal_g {
  top: 0;
  position: absolute;
  z-index: 12;
}
.circulo_branco {
  border-radius: 50%;
  background-color: $branco;
  // position: absolute;
}
.circulo_cinza {
  border-radius: 50%;
  background-color: $cor_background_home;
  // position: absolute;
}
.valor_porcentagem_g {
  position: absolute !important;
  z-index: 15;
}
//Propridedade do grafico grande
.big {
  .chart-portal {
    @extend .chart-portal_g;
    width: 210px !important;
    height: 105px !important;
    left: -52.5px;
  }
  .circulo_externo {
    @extend .circulo_branco;
    width: 105px;
    height: 105px;
    padding: 2.5px;
    z-index: 2;
    position: relative;
  }
  .circulo_externo_cinza {
    @extend .circulo_cinza;
    width: 100px;
    height: 100px;
    padding: 2.5px;
    z-index: 9;
    // left: 2.5px;
    // top: 2.5px;
  }
  .circulo_interno {
    @extend .circulo_branco;
    width: 95px;
    height: 95px;
    z-index: 10;
    padding: 10px;
    // left: 5px;
    // top: 5px;
  }
  .circulo_interno_cinza {
    @extend .circulo_cinza;
    width: 75px;
    height: 75px;
    z-index: 11;
    // top: 15px;
    // left: 15px;
  }
  .valor_porcentagem {
    @extend .valor_porcentagem_g;
    top: 41px;
    left: 36px;
    font-size: 30px;
  }
  .corpo_3 {
    right: 7px;
    position: relative;
  }
.icon-icon_disc{
font-size: 52px;
}
}
//Propridedade do grafico pequeno
.small {
  .chart-portal {
    @extend .chart-portal_g;
    width: 120px !important;
    height: 60px !important;
    left: -30px;
  }
  .circulo_externo {
    @extend .circulo_branco;
    width: 60px;
    height: 60px;
    padding: 1px;
    z-index: 2;
    position: relative;
  }
  .circulo_externo_cinza {
    @extend .circulo_cinza;
    width: 58px;
    height: 58px;
    padding: 1.5px;
    z-index: 9;
    // left: 2.5px;
    // top: 2.5px;
  }
  .circulo_interno {
    @extend .circulo_branco;
    width: 55px;
    height: 55px;
    z-index: 10;
    padding: 5.5px;
    // left: 5px;
    // top: 5px;
  }
  .circulo_interno_cinza {
    @extend .circulo_cinza;
    width: 44px;
    height: 44px;
    z-index: 11;
    // top: 15px;
    // left: 15px;
  }
  .valor_porcentagem {
    @extend .valor_porcentagem_g;
    top: 20px !important;
    left: 20px !important;
    font-size: 18px;
  }
  .corpo_3 {
    font-size: 8px !important;
    right: 5px;
    position: relative;
  }
}
