.discussion {
  .item-discussion {
    background-color: $cor_background_home;
    border-width: 0;
    padding: 0;
    margin-top: 0;
    h2 {
      color: $fonte_escura;
      white-space: normal;
    }
    h4 {
      white-space: normal;
    }
    .discussion {
      padding: 10px 16px;
      border: 1px $border_color_default solid;
      border-width: 0 0 1px 0;
      margin-bottom: 1px;
      p{
        white-space:normal
      };
      .box-button{
        height: 26px;
        .button {
          color: $cor_portal;
          height: 26px;
          min-height: 26px;
          line-height: 26px;
          font-size: 12px;
        }
        .button::after {
          line-height: 28px;
        }
        .button::before {
          line-height: 28px;
        }
      }

      .discussion-box {
        display: flex;
        .discussion-text {
          flex-grow: 2;
        }
        .box-avatar {
          height: 40px;
          width: 40px;
          min-width: 40px;
          flex-basis: 40px;
          border-radius: 50%;
          overflow: hidden;
          .img-avatar {
            width: 40px;
            height: auto;
          }
        }
      }
    }
      .newPost {
        border-right: 5px $cor_contraste_escuro solid;
        margin-right: 5px;
      }
  }
  .childPost {
    .list {
      margin-left: 20px;
      .item {
        .discussion{
          padding: 10px 16px 10px 0px;
        }
        }
    }
  }
}
.forum{
  .item, p{
    overflow: initial;
    text-overflow: initial;
    white-space: normal;

  }
}
