// Home / Cursos
// @mixin default-padding($padding: 10px 16px){
//   padding: $padding;
// }
.lista-cursos {
  .alertas {
    height: 100px;
    background-color: $cor-contraste_escuro;
    .titulo {
      font-size: $titulo-0_size;
      color: $cor-contraste_claro;
    }
    .descricao {
      font-size: $corpo_1_size;
      color: $cor_clara;
    }
  }
  .cursos {
    @extend .item-icon-custom;
    height: 70px !important;
    background-color: $cor_background_cursos;
    padding: 10px 50px 10px 16px !important;
    .title_3 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .corpo_4 {
      // bottom: 0px;
      // position: absolute;
    }
  }
  .disciplinas {
    @extend .cursos;
    color: $fonte_cinza_1;
    background-color: $cor_background_home;
    word-wrap: normal;
    .corpo_4 {
      bottom: 0;
      position: absolute;
    }
    .title_4{
          padding-right: 16px;
    }
  }
  .alertas,
  .cursos {
    // @include default-padding();
  }
}
