@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?6bf4hm');
    src:    url('../fonts/icomoon.eot?6bf4hm#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?6bf4hm') format('truetype'),
        url('../fonts/icomoon.woff?6bf4hm') format('woff'),
        url('../fonts/icomoon.svg?6bf4hm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon_aula:before {
  content: "\e900";
}
.icon-icon_data:before {
  content: "\e901";
}
.icon-icon_discs:before {
  content: "\e902";
}
.icon-icon_offline:before {
  content: "\e903";
}
.icon-icon_nota:before {
  content: "\e904";
}
.icon-icon_video:before {
  content: "\e905";
}
.icon-icon_time:before {
  content: "\e906";
}
.icon-icon_setaE:before {
  content: "\e907";
}
.icon-icon_setaD:before {
  content: "\e908";
}
.icon-icon_seg:before {
  content: "\e909";
}
.icon-icon_sair:before {
  content: "\e90a";
}
.icon-icon_ponto:before {
  content: "\e90b";
}
.icon-icon_pessoa3:before {
  content: "\e90c";
}
.icon-icon_pessoa2:before {
  content: "\e90d";
}
.icon-icon_pessoa1:before {
  content: "\e90e";
}
.icon-icon_mic:before {
  content: "\e90f";
}
.icon-icon_menu:before {
  content: "\e910";
}
.icon-icon_mens:before {
  content: "\e911";
}
.icon-icon_livro:before {
  content: "\e912";
}
.icon-icon_forum:before {
  content: "\e913";
}
.icon-icon_financa:before {
  content: "\e914";
}
.icon-icon_edit:before {
  content: "\e915";
}
.icon-icon_disc:before {
  content: "\e916";
}
.icon-icon_delarc:before {
  content: "\e917";
}
.icon-icon_config:before {
  content: "\e918";
}
.icon-icon_compartilhar:before {
  content: "\e919";
}
.icon-icon_chat:before {
  content: "\e91a";
}
.icon-icon_camera:before {
  content: "\e91b";
}
.icon-icon_busca:before {
  content: "\e91c";
}
.icon-icon_boleto:before {
  content: "\e91d";
}
.icon-icon_aulas:before {
  content: "\e91e";
}
.icon-icon_audio:before {
  content: "\e91f";
}
.icon-icon_atend:before {
  content: "\e920";
}
.icon-icon_arc:before {
  content: "\e921";
}
.icon-icon_alarme:before {
  content: "\e922";
}
