html {
  background-color: transparent;
}

body {
  modal-open {
    position: fixed;
  }
  &.platform-ios {
    background-color: $border_color_default !important;

    .view-container {
      background-color: transparent;
      .pane-conteudo{
        top: $ios-margin-top;
      }
      .header-login{
        padding-top: $ios-margin-top;
      }
    }
    //corrige a margem do topo no ios
    .background-header {
      background-color: transparent !important;
      .menu-content {
        top: $ios-margin-top;
      }
    }
    .scroll-content {
      bottom: $ios-margin-top;
    }
    &.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
      height: $bar-height; //$altura-barra-topo - $ios-margin-top;
      > * {
        margin-top: 0;
      }
    }

    &.platform-cordova:not(.fullscreen) .has-header,
    &.platform-cordova:not(.fullscreen) .bar-subheader {
      top: $bar-height;
    }
    //.bar-portal.bar-header{

    //}

    .menu-portal {
      margin-top: $ios-margin-top;
      .menu-screen {
        &.has-footer {
          bottom: $height_itens_menu_closed + $ios-margin-top;
        }
      }
      .footer-menu {
        bottom: $ios-margin-top;
      }
      &.closed {
        .menu-screen {
          &.has-footer {
            bottom: $ios-margin-top;
          }
        }
      }
    }

    .modal-backdrop {
      top: $ios-margin-top;
    }

    .big {
      .corpo_3 {
        right: 0;
      }
    }
    .small {
      .corpo_3 {
        right: 4px;
      }
    }

  }
}
