// MOvendo todo o css legado

.ionic {
  .col-demo {
    padding: 5px;
    width: 100%;
    //Essas cores são próprias do ionic, não iremos alterar
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
  }
}
.has-header {
  &.profile {
    top: 140px;
  }
  &.inside {
    top: 230px;
  }
}
.icon {
  &.portal {
    font-size: 24px;
  }
}
.progress {
  height: 20px;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-bar-striped,
.progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.badge-info {
  width: 22px;
  border-radius: 130px;
}
.mm-course-mod-description {
  &.card {
    border-top: 5px solid $cor_portal;
    overflow: hidden;
    position: relative;
  }
}
.card {
  border-top: 5px solid $cor_portal;
}
.scroll {
  min-height: 100%;
  height: 100%;
}
.header-card {
  background-color: $cor_background_home !important;
  h2 {
    font-weight: 500 !important;
  }
}

.branco {
  color: $branco !important;
}
.profile-background {
  &.aumenta-altura {
    height: 400px !important;
  }
  &.portal {
    text-align: center;
  }
  &.disciplina {
    height: auto;
  }
}
.profile-details {
  &.disciplina {
    position: relative;
  }
}
.profile-stats {
  font-weight: bold;
  background: $branco;
  font-size: 14px !important;
  float: right;
}
.notification-thumb {
  background-color: $branco;
}
.post-content {
  width: 100%;
}
.post {
  &.cabecalho-msg {
    min-height: 180px;
    height: 200px;
    .post-overlay {
      background-color: rgba(52, 103, 153, 0.7);
    }
  }
}
.listconteudo {
  margin-bottom: 0;
  .itemdisciplina {
    padding-top: 20px;
    padding-bottom: 10px;
    .icondisciplina {
      top: 4px;
    }
  }
  .itemoffline {
    padding-right: 70px;
  }
  h6 {
    margin-bottom: 10px;
    margin-top: -3px;
    font-size: 11px;
  }
}
.item-search-white {
  background-color: #FFF !important;
}
.acesso-sala {
  margin: 0 !important;
}
.no-padding {
  padding: 0;
}
.profile-stats {
  float: left;
}
.profile-background,
.profile-overlay {
  height: 330px;
}
.tabs-disciplina {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}
.item-avatar {
  background-color: $cor_barra;
}
.mfb-component__button--child,
.mfb-component__button--main {
  background-color: $cor_botao !important;
}
