//para plataforma android 4
.platform-android4 {
  .open {
    left: 0px;
  }
  .close {
    left: -233px;
  }
}

.menu-content {
  box-shadow: none;
  margin-left: $width_menu_closed; // padding-left: $width_menu_closed;
  width: auto !important;
}

.icon-menu:before {
  font-size: 36px;
  width: 36px !important;
  height: 36px !important;
}

.menu-portal {
  //Parte do fundo do menu
  z-index: 1 !important;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2), 2px 1px 2px rgba(0, 0, 0, 0.2);
  left: -$recuo_menu;
  background-color: $cor_background;
  width: $width_menu; // Cor basico dos titulos
  .title_2 {
    color: $cor_titulo_menu_ativo;
  } // Cor basica dos corpos
  .corpo_3 {
    color: $cor_descricao_menu_ativo;
    font-weight: lighter;
  }
  .menu-screen {
    margin-top: 0;
    margin-bottom: 0;
    .marca-logo-box {
      //box da logo da entidade
      float: right;
      padding: 0;
      height: 56px;
      width: 56px;
      margin: 10px 0px 10px 0px;
      text-align: center;
      img {
        width: 56px;
        height: 56px;
      }
    }
    .profile-box {
      //box do avatar do usuario
      padding: 40px 10px 10px 16px;
      position: relative;
      height: 105px;
      .profile-box-thumb {
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        color: $cor_nome_usuario_menu;
        font-size: 35px;
        text-align: center;
        height: 52px;
        width: 52px;
        vertical-align: middle;
        .img-avatar {
          height: auto;
          width: 100%;
        }
      }
      .profile-name {
        margin-bottom: 0;
      } //Caixa com o nome do usuario
      .profile-box-details {
        margin-left: 62px;
        h4 {
          color: $cor_nome_usuario_menu;
          margin-top: 4px;
        }
        .corpo_3 {
          color: $cor_titulo_menu_ativo;
        }
      }
    }
    &.has-footer {
      bottom: $height_itens_menu_closed;
    }


  }
  .item {
    background-color: transparent;
    border: $cor_item_menu_ativo;
    border-style: solid;
    border-width: 0;
    &.active {
      //Item ativo
      background-color: $cor_item_menu_ativo;
      i {
        color: $cor_icone_ativo !important;

      }
    }
    &.item-menu {
      .item-content {
        @extend .item-content-custom;
      }
      i {
        color: $cor_icone_menu;
      }
    }
    &.disciplina-menu {
        .icon-icon_discs{
          color: $cor_clara;
      }
    }
  }

  .item:after {
    padding: 0;
    margin: 0;
    display: block;
    /* not really needed */
    content: "";
    width: 56px;
    height: 0px;
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: -1px;
  } //menu Fechado
  &.closed {
    // Esconde o footer
    .footer-menu {
      visibility: hidden;
    }
    .menu-screen {
      &.has-footer {
        bottom: 0;
      }
      .content-menu {
        width: $width_menu_closed;
        right: 0;
        position: absolute;
        .item {
          padding: 0 16px;
          height: $height_itens_menu_closed;
          border-width: 0;
          &.item-icon-right {
            text-align: center;
            .icon {
              text-align: center;
              right: 0;
              position: relative;
              margin-left: 3px;
              margin-top: 2px;
              font-size: 36px;
            }
          }
          a {
            height: $height_itens_menu_closed;
            padding: 0;
            p,
            span {
              display: none;
            }
          }
          &.item-avatar-right {
            height: 55px;
            p,
            span {
              display: none;
            }
          }
        } //Logo entidade
        .marca-logo-box {
          float: none;
          padding: 0 8px 8px;
        } //box da foto do aluno
        .profile-box {
          padding: 2px 16px 16px;
          height: 49px; //foto do aluno
          .profile-box-thumb {
            height: 40px;
            width: 40px;
          } //texto com os dados do aluno
          .profile-box-details {
            display: none;
          }
        }
      }
    }
  } // Termino menu fechado

  .footer-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $height_itens_menu_closed;
    background-image: none;
    background-color: $cor_background !important;
    z-index: 10;
    .list {
      width: 100% !important;
      padding-left: 10px; //padding: 10px;
      .item {
        border-width: 0;
        padding-top: 4px;
        .item-content {
          padding: 0 4px 0 0;
        }
        .icon-menu {
          height: 36px;
          padding-top: 16px;
        }
      }
    }
  }
}

//Classes com alturas dos containeres.

