.grade-nota {
  background-color: $cor_background_home;

  .title_4 {
    color: $fonte_escura;
  }

  .item-notas-moodle {
    padding: 5px;
    line-height: 12px;
    padding-left: 35px;
    font-size: 11px;
  }

  .nota-header {
    @extend .disciplina-header;
    color: $fonte_escura;
    min-height: 176px;
    height: auto;
    padding: 0px 16px 16px 16px;
    background-color: $cor_background_home;
    // margin-top: 16px;
    box-shadow: 0 0 0;
    .disciplina_title {
      margin-bottom: 16px;
    }
    .status_text {
      margin: 0px 0px 16px 0px;
    }
    .icon_text {
      margin-left: 5px;
      line-height: 32px !important;
    }
  }
  .item-icon-custom {
    .icon {
      color: $fonte_cinza_2;
      p {
        color: $fonte_cinza_2;
        font-family: "Ubuntu";
      }
    }
  }

}
