.slider {
  height: 110px;
  .slider-slide {
    padding: 16px 0 16px 16px;
    color: #000;
    width: 288px !important;
    background-color: $cor_contraste_escuro;
    .title_2 {
      color: $cor_contraste_claro;
      margin-bottom: 16px;
    }
    .item {
      background-color: transparent;
      border: none;
      padding: 0 54px 0 0;
      color: $cor_clara;
      p {
        color: $cor_clara;
        line-height: 16px;
      }
    }
  }
}
