/*
 Utilize essas variáveis para customizar o portal, evite colocar as cores direto no css.
*/

//MIXIN PARA CONVERTER DP EM PX
// Header do APP
.bar-portal {
  height: $altura-barra-topo;
  background-color: $cor_background_header;
  color: $fonte_cinza_2;
  text-align: left;
  .title {
    font-size: $titulo_4_size !important;
    padding-top: 5px;
    margin-left: 16px;
    font-weight: normal;
    top: 0 !important;
    height: $altura-barra-topo;
  }
  .buttons-right {
    top: 0 !important;
    height: $altura-barra-topo;
    padding-top: 10px;
  }
  .button {
    color: $icone_corpo_cinza;
    padding-right: 4px;
    padding-left: 4px;
  }
  .button-icon::before {
    font-size: 24px !important;
    width: 24px !important;
    height: 24px !important;
    padding: 0;
  }
}

.bar-conteudo {
  @extend .bar-portal;
  background-color: $cor_portal;
  color: $cor_background_home;
  .button {
    color: $cor_background_home;
  }
}

//Filtro de pesquisa geral
.filter-bar {
  left: 73px;
  height: $altura-barra-topo !important;
  background-color: $cor_background_header;
  color: $fonte_cinza_2;
  .filter-bar-wrapper {
    background-color: $cor_background_header !important;
    color: $fonte_cinza_2;
    .bar-header {
      height: $altura-barra-topo !important;
      background-color: $cor_background_header !important;
      color: $fonte_cinza_2;
    }
    .item-input-wrapper {
      background-color: $cor_background_header !important;
      color: $fonte_cinza_2;
    }
  }
}

.icon-small {
  font-size: 24px !important;
  .icon-small::before {
    font-size: 24px !important;
    width: 24px !important;
    height: 24px !important;
    padding: 0;
  }
}

.icon-medium {
  font-size: 32px !important;
  .icon-small::before {
    font-size: 32px !important;
    width: 32px !important;
    height: 32px !important;
    padding: 0;
  }
}

//Sobrecescrenvo o tamanho do has-header
.has-header {
  top: $altura-barra-topo;
}

// padding 16 nas laterais
.padding-side-16 {
  padding: 0 16px !important;
}

.padding-20-16 {
  padding: 20px 16px !important;
}

.padding-10-16 {
  padding: 10px 16px !important;
}

.padding-16 {
  padding: 16px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

// Row padrao com padding
.row-padding {
  min-height: 60px;
  @extend .padding-20-16;
}

//Row com margens e bordas padrão
.row-border-bottom {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $border_color_default;
  @extend .row-padding;
}

//Corpo das mensagens
.message_body {
  table,
  td,
  th {
    border: 1px solid black;
    padding: 5px;
  }
}

//Tela de disciplina
//Header da disciplina
.disciplina-header {
  height: 110px;
  background-color: $cor_background_header; // text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); //titulo da disciplina
  .disciplina_title {
    padding: 10px 0;
  }
  .nota_title {
    padding: 0 0 8px;
  }
  .title_3 {
    // margin-left: 10px
    margin: 0 0 0 10px;
  } //para as datas da sala
  .row {
    .col {
      .corpo_4 {
        margin-bottom: 0;
        line-height: 12px;
      }
    }
  }
}

.background-header {
  background-color: $cor_background_header !important;
}

.pane {
  background-color: $cor_background_home;
  overflow: inherit; //fix rolagem em devices de tela pequena
}

@mixin convert-dp-to-px($dp) {
  font-size: ($dp*0.75px);
}

.icon-custom {
  font-size: 24px !important;
  width: 24px;
}

.disciplina-pane {
  .list-custom {
    .item-icon-custom {
      background-color: $branco;
    }
  }
  .item-disc-mod {
    border-bottom: #FAFBFC 1px solid;
    background-color: $cor_background_home;
  }
}

.item-content-custom {
  background-color: transparent;
  padding: 10px 56px 10px 32px;
  height: 54px;
}

.item-icon-custom {
  background-color: $cor_background_home;
  border-color: $border_color_default;
  border-width: 0px;
  margin-bottom: 1px;
  margin-top: -1px;
  border-top-width: 0;
  .item-content {
    background-color: $cor_background_home;
    @extend .item-content-custom;
  }
}

.item-list-divider {
  color: $fonte_cinza_3;
  background-color: $cor_background_divider;
  font-size: 13px;
  text-align: right;
  height: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 16px;
}

.item-icon-custom:after {
  padding: 0;
  margin: 0;
  display: block;
  /* not really needed */
  content: "";
  width: 56px;
  height: 1px;
  background-color: $cor_background_home;
  position: absolute;
  right: 0;
  top: -1px;
}

.item-icon-custom:last-child {
  border: none;
}

a {
  color: $branco;
  text-decoration: none;
}

.force-right {
  @extend .pull-right
}

.button {
  &.button-custom {
    color: $branco;
    background-color: $cor_botao;
    &:hover {
      background-color: $cor_botao;
      color: $branco;
    }
    &.activated {
      color: $cor_botao;
    }
  }
}

.item {
  &.item-input {
    background-color: transparent;
  }
}

.fundo-portal {
  background-color: $cor_portal;
  background-image: url("../img/bg-login.png");
  height: 100%;
  &.panel-login {
    margin: 0;
  }
  .item {
    &.mensagem {
      border: 1px solid;
    }
    .input-label {
      color: $preto;
    }
    &.item-branco {
      background-color: $cor_background_home;
    }
  }
  .login-form {
    .list-inset {
      background-color: transparent;
      label {
        padding: 16px 16px 0 16px;
      }
      ;
      .item-input {
        border: none;
        .button-clear,
        p {
          margin-top: 10px;
          color: $cor_link_login;
          font-size: $corpo_3_size;
          opacity: 0.7;
          filter: alpha(opacity=70);
        }
        input {
          @include placeholder($cor_place_holder_login,
          $branco);
          border-bottom: solid 1px $cor_borda_input_login;
          color: $branco;
        }
        &.padding-top {
          padding-top: 40px;
          .btn-login {
            background-color: $branco;
            color: $cor_texto_botao_login;
            border: none;
            @include convert-dp-to-px(20);
            width: 130px;
            left: 50%;
            margin-left: -65px;
          }
        }
      }
    }
  }
}

#cabecalho-login {
  border: none;
  text-align: center;
  padding: 50px 20px 20px 20px;
  margin-top: 25px;
  height: 150px;
}

//utils
.width100 {
  width: 100% !important;
}

.height55 {
  height: 55px;
}

.no-border-top {
  border-top-width: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-background {
  background-color: transparent;
  &.item-body {
    border-top-color: $branco;
    border-top-width: 2px;
    p {
      margin-top: 0;
    }
  }
}

.border-top {
  border-top: solid !important;
  border-top-width: 1px !important;
  border-top-color: $borda_thumb_user !important;
}

.bola_temp {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  padding: 2.5px; // left: 89px;;
  // right: 89px;;
  background-color: $cor_background_header;
  position: relative;
  z-index: 10;
  top: -32px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  /* width and height can be anything, as long as they're equal */
}

.icon-inactive {
  color: rgba(68, 68, 68, 0.3);
}

.button-pagraph {
  line-height: 1.5em;
  width: 32px;
  display: inline-flex;
  margin: 0;
  vertical-align: middle;
}

.background-default {
  background-color: $cor_portal;
}

.header-login {
  @extend .background-default;
  @extend .height55;
  border: none;
  background-image: none;
}

// Gera as classes com as cores para utilização no template dos charts.
@each $color in $chartColors {
  .chart-#{$color} {
    //Uso da função unquote necessário para que o valor seja uma cor válida (não-string).
    color: unquote("#"+$color);
  }
}

.pull-right {
  float: right;
}


/* Classe utilizada para centralizar itens horizontalmente e verticalmente.
Adicione-a ao elemento parent e os elementos children serão centralizados. */

.x-y-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.positive-custom {
  //color: $positive_custom;
  background-color: $positive_custom;
}

.assertive-custom {
  //color: $assertive_custom;
  background-color: $assertive_custom;
}

.balanced-custom {
  //color: $balanced_custom;
  background-color: $balanced_custom;
}

.positive-custom-border {
  border-color: $positive_custom !important;
}

.assertive-custom-border {
  border-color: $assertive_custom !important;
}

.balanced-custom-border {
  border-color: $balanced_custom !important;
}

.item-accordion {
  background-color: #FAFBFC;
  &.border-left {
    border-left: solid 15px;
  }
}

.atendimento-pane {
  .item {
    padding-bottom: 0;
    &.padding-bottom {
      padding-bottom: 16px !important;
    }
    p,
    h2 {
      margin: 0 !important;
    }
    .item-note {
      text-transform: uppercase;
    }
  }
}

.atendimento-show-pane {
  .item-body {
    .button-small {
      &.no-padding {
        min-width: 10px !important;
      }
    }
    .text-right {
      small {
        text-transform: uppercase;
      }
    }
  }
}

.form-ocorrencia {
  .item {
    border-style: none;
    input,
    textarea {
      @include placeholder($fonte_escura,
      $fonte_cinza_1);
    }
    &.border-top {
      border-color: $border_color_default !important;
    }
    &.item-divider {
      margin-bottom: 20px;
    }
    &.item-input {
      @extend .padding-side-16;
      input {
        padding-left: 5px;
      }
    }
    &.item-select {
      select {
        direction: ltr;
        max-width: 100%;
      }
    }
    &.item-textarea {
      padding: 0 !important;
      textarea {
        margin-bottom: 5px;
        border-bottom: solid 3px $border_color_default;
        padding: 10px 20px;
        width: 100%;
      }
    }
    &.item-toggle {
      margin-top: 10px;
      .toggle {
        top: auto;
      }
    }
  }
}

.destacar-icone {
  color: $cor_icone_ativo !important;
} // Classes para exibição responsiva de imagens
.responsive-container {
  width: 100%;
  height: auto;
}

img.responsive-img {
  max-width: 100%;
  height: auto;
}

.no-padding {
  padding: 0 !important;
}

.overflow-xy {
  height: inherit;
}

.data-boleto {
  display: inline !important;
  top: auto !important;
}

.clean-style {
  color: $fonte_escura !important;
  font-family: "Ubuntu" !important;
  p {
    color: $fonte_escura !important;
    font-family: "Ubuntu" !important;
    a {
      color: $fonte_escura !important;
      font-family: "Ubuntu" !important;
    }
  }
}

.button-primary {
  background-color: $cor_portal;
  border-color: $cor_portal2;
  color: #fff;
}
.bar-footer {
  height: 60px;
}
