.title_1 {
  @extend .h4;
  font-size: $titulo_1_size !important;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: $titulo_1_size;
  max-height: $titulo_1_size * 2;
  white-space: normal !important;
}

.title_2 {
  font-size: $titulo_2_size !important;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: $titulo_2_size;
  max-height: $titulo_2_size * 2;
  white-space: normal !important;
}

.title_3 {
  font-size: $titulo_3_size !important;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: $titulo_3_size;
  max-height: $titulo_3_size * 2;
  white-space: normal !important;
}

.title_4 {
  font-size: $titulo_4_size !important;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: $titulo_4_size;
  max-height: $titulo_4_size * 2;
  white-space: normal !important;
}

.corpo_2 {
  font-size: $corpo_2_size;
}

.corpo_3 {
  font-size: $corpo_3_size !important;
  // line-height: 18px;
}

.corpo_4 {
  font-size: $corpo_4_size !important;
  font-weight: lighter;
  // line-height: 18px;
}

.no-bold {
  font-weight: 400 !important;
}

.bold {
  font-weight: bold !important;
}

.fonte_escura {
  color: $fonte_escura !important;
}

.fonte_cinza_1 {
  color: $fonte_cinza_1;
}

.fonte_cor_portal {
  color: $cor_portal;
}

.fonte_light {
  font-weight: 100 !important;
}

.fonte_regular {
  @extend .no-bold;
}
