//Variables
@import "variables";
//fonts
@import url(https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,400i,500,700);

$font-family-base: "Ubuntu", sans-serif !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

//styles
@import 'style';
@import 'menu';
@import 'icons';
@import 'typography';
@import 'home';
@import 'chart';
@import 'nota';
@import 'slide';
@import 'ios';
@import 'forum';

.ion-content-with-menu {
  padding-right: $width_menu_closed;
}
.has-footer {
  bottom: 60px !important;
}
