<ion-modal-view view-title="Financeiro - Lançamento {{lancamento.id_lancamento}}"
hide-nav-bar="true">
<ion-content>


<div class="list">

<div class="row">

<div class="col-50 padding-16">
<span class="fonte_escura title_3">PAGAMENTO</span>
</div>
<div class="col-50">

<button ng-click="carregarArquivoFinanceiro(lancamento)"
  class="button force-right button-clear button-stable">
<i class="icon icon-icon_offline"></i>
</button>
</div>

</div>

<div class="item item-body positive-custom text-center">

<span align="center" class="fonte_escura title_2">
{{ formatDate(lancamento.dt_vencimento)}}
</span>
<h2 align="center" class="title_1 fonte_escura">
R$ {{lancamento.nu_valor}}
</h2>
</div>

<div class="item">


<h3 class="title_4 no-bold fonte_escura" align="center"
ng-click="copyText(dados_boleto.st_codigobarras)" ng-show="dados_boleto"
ng-if="lancamento.bl_quitado == false && lancamento.id_meiopagamento == 2">
{{dados_boleto.st_codigobarras}}
</h3>

</div>

<div class="item no-padding">

<div class="button-bar">
<button class="button button-clear button-calm corpo_3" ng-click="closeModal()">FECHAR</button>
</div>
</div>
</div>

</ion-content>
</ion-modal-view>
