<ion-view view-title="Financeiro" hide-nav-bar="false" class="rubyonic-pane">
  <ion-content class="">

    <ion-list>

      <accordion>
        <accordion-head>
          <ion-item accordion-head="true" class="item-divider positive-custom text-right title_4 no-bold">
            A pagar
          </ion-item>
        </accordion-head>
        <accordion-body ng-class="{ 'hide': !lancamentosPendentes.length }">
          <ion-item ng-click="abreLancamento(lancamento)"
                    ng-repeat="lancamento in lancamentosPendentes | orderBy:'+dt_vencimento'"
                    class="item-accordion item item-icon-left border-left positive-custom-border tour-close-tip">

            <i class="icon icon-icon_boleto data-boleto">
              <h4>{{lancamento.nu_ordemparcela}} / {{lancamento.nu_parcelas}}</h4>
            </i>
            <div class="row">
              <div class=" col-67">
                <h3 class="no-bold">
                  {{lancamento.st_meiopagamento}} 
                  {{lancamento.st_situacao == 'Pendente' && lancamento.st_urlboleto != null?"gerado":""}}
                </h3>
                <p class="corpo_3">
                  {{ formatDate(lancamento.dt_vencimento)}}
                </p>
              </div>

              <div class="col-33">
                <h3 class="no-bold">R$ {{lancamento.nu_valor}}</h3>
                <button gerar-boleto ng-click="geraBoleto(lancamento)" class="button button-small button-assertive"
                        ng-if="procuraPalavra(lancamento.st_meiopagamento, 'boleto') >= 0  &&  
                        lancamento.bl_quitado == false && 
                        (procuraPalavra(lancamento.st_situacao, 'pendente') >= 0 || 
                        procuraPalavra(lancamento.st_situacaolancamento, 'pendente') >= 0 ) && 
                        procuraPalavra(lancamento.st_statuslancamento, 'a pagar') >= 0 && 
                        lancamento.st_urlboleto == null">
                    Gerar Boleto
                    </button>
              </div>
            </div>
          </ion-item>
          <ion-item ng-show="!lancamentosPendentes.length"
                    class="item-accordion item item-icon-left border-left positive-custom-border">
            <h2>Sem Registros</h2>
          </ion-item>
        </accordion-body>
      </accordion>

      <accordion class="colapse-group">
        <accordion-head>
          <ion-item class="item item-divider assertive-custom text-right title_4 no-bold">
            Atrasado
          </ion-item>
        </accordion-head>
        <accordion-body ng-class="{ 'hide': !lancamentosAtrasados.length }">
          <ion-item ng-click="abreLancamento(lancamento)"
                    ng-repeat="lancamento in lancamentosAtrasados | orderBy:'-dt_vencimento'"
                    class="item-accordion item item-icon-left border-left assertive-custom-border">

            <i class="icon icon-icon_boleto data-boleto">
              <h4>{{lancamento.nu_ordemparcela}} / {{lancamento.nu_parcelas}}</h4>
            </i>
            <div class="row">
              <div class=" col-67">
                <h3 class="no-bold">
                  {{lancamento.st_meiopagamento}}
                  {{lancamento.st_situacao == 'Pendente' && lancamento.st_urlboleto != null?"gerado":""}}
                </h3>
                <p class="corpo_3">
                  {{ formatDate(lancamento.dt_vencimento)}}
                </p>
              </div>

              <div class="col-33">
                <h3 class="no-bold">R$ {{lancamento.nu_valor}}</h3>
                <button gerar-boleto ng-click="geraBoleto(lancamento)" class="button button-small button-assertive"
                        ng-if="procuraPalavra(lancamento.st_meiopagamento, 'boleto') >= 0  &&  
                        lancamento.bl_quitado == false && 
                        (procuraPalavra(lancamento.st_situacao, 'pendente') >= 0 || 
                        procuraPalavra(lancamento.st_situacaolancamento, 'pendente') >= 0 ) && 
                        procuraPalavra(lancamento.st_statuslancamento, 'atrasado') >= 0">
            Gerar Boleto
            </button>
              </div>
            </div>

          </ion-item>

          <ion-item ng-show="!lancamentosAtrasados.length"
                    class="item-accordion item item-icon-left border-left assertive-custom-border">
            <h2>Sem Registros</h2>
          </ion-item>
        </accordion-body>
      </accordion>


      <accordion class="colapse-group">
        <accordion-head>
          <ion-item class="item item-divider balanced-custom text-right title_4 no-bold">
            Pago
          </ion-item>
        </accordion-head>
        <accordion-body class="hide">
          <ion-item ng-click="abreLancamento(lancamento)"
                    ng-repeat="lancamento in lancamentosPagos | orderBy:'-dt_vencimento' "
                    class="item-accordion item item-icon-left border-left balanced-custom-border">

            <i class="icon icon-icon_boleto data-boleto">
              <h4>{{lancamento.nu_ordemparcela}} / {{lancamento.nu_parcelas}}</h4>
            </i>
            <div class="row">
              <div class=" col-67">
                <h3 class="no-bold">{{lancamento.st_meiopagamento}}</h3>
                <p class="corpo_3">
                  {{ formatDate(lancamento.dt_vencimento)}}
                </p>
              </div>

              <div class="col-33">
                <h3 class="no-bold">R$ {{lancamento.nu_valor}}</h3>
              </div>
            </div>

          </ion-item>

          <ion-item ng-show="!lancamentosPagos.length"
                    class="item-accordion item item-icon-left border-left balanced-custom-border">
            <h2>Sem Registros</h2>
          </ion-item>
        </accordion-body>
      </accordion>


    </ion-list>

  </ion-content>
</ion-view>
