$brand-base-color: $clouds;
$brand-analogous-color: #333;
$brand-contrast-color: #19325d;
$cor_portal: #19325d;
$cor_botao: #19325d;
$cor_barra: #19325d;
$color-algorithm: w3c;

// When creating your own templates that
// will use your brand background color
.brand-base-background-color, .bb-bc,
.rubyonic-pane.pane {
  background-color: $brand-base-color;
}

.bar.bar-chat {
  background-color: darken($brand-base-color, 8%);
}

.brand-contrast-color {
  background-color: $brand-contrast-color;
}

.brand-base-text-color, .bb-tc, //use this for text that has to contrast .brand-base-background-color

  /*
  Common Items using the same text-color.
  If you need to customize/overide any existing rule here specifically,
  Comment it out of this file and copy the rule to its
  scss file.

  Let the comments guide you to your destination :D
  */
.button.brand-base-text-color,
  // sidebar.scss
.menu-screen .item-complex .item-content,
.menu-screen .item,
.item-note.brand-base-text-color,
.menu-screen .group-header,
.notifications .notification-title,
.notifications .notification-summary,
.menu-screen .list.menu-screen-searchbox .item.item-input .placeholder-icon,
  // chat.scss
.chat-list .notification-title,
.chat-list .notification-summary,
.tabs.chat-footer-controls .tab-item,
ion-footer-bar.chat-footer-bar .button,
  // feed.scss
.feed-posted-by,
.feed-time-post.brand-base-color,
.feed-item.is-quote, .feed-item.is-quote *,
.feed-item.is-quote:before,
  // chat-ui.scss
.chat-message,
.chat-bar-contact-name .contact-title,
.chat-text-input[type="text"],
.bar.bar-chat .button-clear.button-,
  // form.scss
.input-label {
  @include text-color-contrast($brand-base-color, $color-algorithm);
}

.feed-item .feed-stat, .menu-screen .item-complex .item-content,
.menu-screen .item, .chat-list .item, .notifications .item {
  @include border-color-contrast($brand-base-color, $color-algorithm)
}

.item.item-input input.text-color-contrast, input.text-color-contrast[type="text"].chat-text-input {
  // input-placeholder($color, $algorithm) - Refer to scss/_mixins.scss
  @include text-color-contrast($brand-base-color, $color-algorithm);
  @include input-placeholder($brand-base-color, $color-algorithm);
}

.item.item-input, .menu-screen .item.item-input {
  background-color: darken($brand-base-color, 20%)
}

// Generated Colors to go with the two above. don't change unless
// you're comfortable with your own calculated color-values

$brand-lighter-tint: lighten($brand-base-color, 50%);
$brand-darker-tint: darken($brand-base-color, 20%);