<ion-view view-title="Selecione o Curso" hide-nav-bar="false" class="rubyonic-pane profile-screen">

  <ion-content class="lista-cursos ionic-scroll">
    <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="listCurso(true)"></ion-refresher>

    <!-- Slider desabilitado conforme demanda. GII-6616 -->
    <!--<ion-slide-box ng-if="dataSlider.length" show-pager="true" auto-play="true">-->
    <!--<ion-slide ng-repeat="(key, slide) in dataSlider">-->
    <!--<h2 class="title_2">{{slide.title | capitalize:true}}</h2>-->
    <!--<ion-item class="item item-icon-right item-text-wrap">-->
    <!--<p class="corpo_3">{{slide.description | limitTo: 70}}...</p>-->
    <!--<i class="icon {{slide.icon}}"></i>-->
    <!--</ion-item>-->
    <!--</ion-slide>-->
    <!--</ion-slide-box>-->

    <ion-list>
      <!-- Cada entidade que o aluno tem matricula -->
      <div ng-repeat="entidade in listEntidade">
        <!-- Cada curso da entidade -->
        <!-- Cada curso da entidade -->
        <accordion ng-show="listDisciplinas[curso.id_curso].length && entidade.cursos.length"
                   ng-repeat="curso in entidade.cursos" >
          <accordion-head>

            <!-- Ao iniciar o objeto dispara no ng-init a consulta das disciplinas -->
            <ion-item accordion-head="true"
                      class="item item-icon-right item-icon-custom cursos">
              <h3 class="title_3 fonte_escura">{{::curso.st_curso | capitalize:true}}</h3>
              <p class="corpo_4" ng-if="curso.dt_inicioturma">Início - {{::curso.dt_inicioturma | date: 'MMM' |
                uppercase}} {{::curso.dt_inicioturma | date: 'yyyy'}}</p>
              <i class="icon-menu icon icon-icon_disc"></i>
            </ion-item>
          </accordion-head>

          <accordion-body recpromo esconder ="{{entidade.cursos.length > 1 || listEntidade.length > 1 ? 1 : 0}}" matricula="{{curso.id_matricula}}" ng-class="{'hide' : entidade.cursos.length > 1 || listEntidade.length > 1}">
            <!-- Cada disciplina do curso -->
            <ion-item ng-repeat="disciplina in ::listDisciplinas[curso.id_curso] | orderBy: ['nu_order','dt_abertura'] "
                      ng-click="selecionaDisciplina(entidade,curso,disciplina)"
                      class="item item-icon-right item-icon-custom disciplinas">
              <h3 class="title_4">{{::disciplina.st_disciplina | capitalize: true}}</h3>

              <!-- Se a disciplina não estiver completa. -->

              <p ng-if="!salaCompleta" class="corpo_4">
                <span ng-if="disciplina.dt_abertura">
                  {{::disciplina.dt_abertura | date: 'MMM' | uppercase}} {{disciplina.dt_abertura | date: 'yyyy'}}
                </span>
                <span ng-if="!disciplina.nu_diaspassados">Previsto</span>
                &nbsp
                <span>- </span>
                &nbsp
                <span ng-if="disciplina.dt_encerramentosala">
                  {{::disciplina.dt_encerramentosala | date: 'MMM' | uppercase}} {{disciplina.dt_encerramentosala | date: 'yyyy'}}
                </span>
              </p>

              <!--Se a disciplina estiver completa, mostra a nota e a carga horária. -->

              <p ng-if="salaCompleta" class="corpo_4">
              <span ng-if="disciplina.nu_notafinal">
                <i class="icon-icon_nota icon-small"></i>
                <span class="fonte_escura">{{::disciplina.nu_notafinal}}</span>
                &nbsp;
              </span>
                <span class="fonte_escura">{{disciplina.nu_cargahoraria ? disciplina.nu_cargahoraria + 'h' : ''}}</span>
              </p>

              <!-- Gŕafico: ng-if somente se tivar ar_atividades no moodle-->
              <chart-portal class="icon" mysize="small"
                            animation="false"
                            percent="disciplina.ar_moodle.nu_percentualconcluido"
                            statuscomplete="disciplina.st_statuscomplete"
                            statussala="disciplina.id_status"
                            ng-if="disciplina.showChart">
              </chart-portal>

            </ion-item>
          </accordion-body>
        </accordion>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
