<!-- Menu Screen - Refer to sidebar.scss -->
<ion-side-menus class="background-header" enable-menu-with-back-views="false">
  <ion-side-menu-content class="content-portal">
    <ion-nav-bar class="bar-portal painel-portal" align-title="left">
      <!-- <ion-nav-back-button class="branco"></ion-nav-back-button> -->
      <ion-nav-buttons side="right">
        <btn-ocorrencia-portal class="button button-icon button-clear icon-icon_atend"
                               ng-class="{'destacar-icone' : isCentralDeAtencao}"
                               ng-click="abreModalOcorrencia()"></btn-ocorrencia-portal>
        <i class="button button-icon button-clear icon-icon_busca" ng-click="openSearch()"  ng-if="showFilter"></i>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="site" class="painel-portal"></ion-nav-view>
    <ion-nav-view class="painel-portal"></ion-nav-view>

  </ion-side-menu-content>

  <!-- Left Menu Bar -->


  <menu-portal on-drag-right="dragMenuOpen()" on-drag-left="dragMenuClose()"
               class="menu-portal menu menu-animated"></menu-portal>
  <!-- End Left Menu Bar -->
</ion-side-menus>
