@charset "UTF-8";
/*
 Utilize essas variáveis para customizar o portal, evite colocar as cores direto no css.
*/
a {
  color: #fff;
  text-decoration: none; }

.ionic .col-demo {
  padding: 5px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #f7f7f7;
  text-align: center; }

.button.button-custom {
  color: #fff;
  background-color: #2c3e50; }
  .button.button-custom:hover {
    background-color: #2c3e50;
    color: #fff; }
  .button.button-custom.activated {
    background-color: #fff;
    color: #2c3e50; }

.item {
  border-color: rgba(0, 0, 0, 0.2) !important; }

.fundo-portal {
  background-color: #2c3e50;
  height: 100%; }
  .fundo-portal .item.mensagem {
    border: 1px solid; }
  .fundo-portal .item .input-label {
    color: #000; }
  .fundo-portal .item.item-branco {
    background-color: #fff; }

#cabecalho-login {
  background: url("../img/logo.png") no-repeat center center transparent;
  border: none;
  text-align: center;
  padding: 20px;
  margin-top: 25px;
  height: 150px; }

.header-profile {
  position: relative; }
  .header-profile .image-bg {
    background-color: #2c3e50;
    height: 160px;
    width: 100%;
    margin-top: -20px;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0; }
    .header-profile .image-bg.inside {
      margin-top: 44px;
      height: 186px; }
  .header-profile .profile {
    padding: 0 16px;
    position: absolute;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100px;
    cursor: pointer; }
    .header-profile .profile.inside {
      height: 130px;
      top: 73px; }
    .header-profile .profile .image-profile {
      height: 80px;
      width: 80px;
      margin: 10px 0;
      border-radius: 40px;
      border: 2px white solid;
      box-shadow: 0 0 5px #000;
      left: 0; }
      .header-profile .profile .image-profile.with-letter {
        color: #2c3e50;
        background-color: #fff;
        text-align: center;
        line-height: 75px;
        font-size: 38px; }
      .header-profile .profile .image-profile.inside {
        margin: 14px auto; }
    .header-profile .profile .name-profile {
      position: absolute;
      z-index: 100;
      width: 155px;
      font-size: 20px;
      left: 110px;
      margin: 0;
      color: #fff;
      top: 40px; }
      .header-profile .profile .name-profile.inside {
        width: 100%;
        top: 98px;
        text-align: center;
        left: 0; }
      .header-profile .profile .name-profile .helper {
        display: block;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-align: center; }

.with-letter {
  color: #2c3e50;
  background-color: #fff;
  text-align: center;
  line-height: 55px;
  font-size: 38px;
  height: 65px; }

.has-header.profile {
  top: 140px; }
.has-header.inside {
  top: 230px; }

.icon.portal {
  font-size: 24px; }

.progress {
  height: 20px;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.progress-bar-info {
  background-color: #5bc0de; }

.progress-striped .progress-bar, .progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px; }

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.badge-info {
  width: 22px;
  border-radius: 130px; }

.card {
  border-top: 5px solid #2c3e50; }

.scroll {
  min-height: 100%;
  height: 100%; }

.header-card {
  background-color: #f5f5f5 !important; }
  .header-card h2 {
    font-weight: 500 !important; }

.bar-portal {
  background-color: #1a4c6e !important;
  color: #fff; }
  .bar-portal .buttons .button {
    color: #fff !important; }

.branco {
  color: #fff !important; }

.menu-screen .profile-box-thumb {
  height: 65px; }

.profile-thumb {
  height: 100px !important;
  background-color: #fff; }

.profile-background.portal {
  text-align: center; }

.profile-stats {
  font-weight: bold;
  background: #fff;
  font-size: 14px !important;
  float: right; }

.notification-thumb {
  background-color: #fff; }

.post-content {
  width: 100%; }

.post.cabecalho-msg {
  min-height: 180px;
  height: 200px; }
  .post.cabecalho-msg .post-overlay {
    background-color: rgba(52, 103, 153, 0.7); }

.data-boleto{
  display:inline !important;
  top:auto !important;
}
    