<!-- <div class="row height55 no-padding" align="right">
  <div class="col text-right no-padding">
    <button class="button button-clear">
      <p class="button-pagraph corpo_4">
        Assistir Offline
      </p>
    </button>
  </div>
</div>
-->

<accordion ng-if="contentLoaded">
  <accordion-head>
    <ion-item accordion-head="true" class="item item-disc-mod">
                <h3 class="title_3 fonte_escura"> Conteúdo </h3>
              </ion-item>
            </accordion-head>

            <accordion-body  class="hide">
              <ion-list class="list list-custom">
                <ion-item ng-show="!ConteudoDisciplina.length && VwAlunoGradeIntegracao.id_status != 3"
                          class="item item-text-wrap item-icon-right item-icon-custom">
                  <span class="title_4">Nenhum conteúdo cadastrado</span>
                  <!-- <small class="corpo_3" ng-show="item.resume">{{item.resume}}</small> -->
                  <i class="icon-menu icon icon-icon_aula"></i>
                </ion-item>
                <ion-item ng-show="VwAlunoGradeIntegracao.id_status == 3"
                          class="item item-text-wrap item-icon-right item-icon-custom">
                  <span class="title_4">Disciplina não iniciada</span>
                </ion-item>
                <ion-item ng-class="{positive : conteudo.offline, energized: conteudo.download}"
                          ng-repeat="conteudo in ConteudoDisciplina"
                          ng-show="VwAlunoGradeIntegracao.id_status != 3"
                          class="item item-text-wrap item-icon-right item-icon-custom no-border-top">
                  <a class="title_4"
                     ng-class="{positive : conteudo.offline, 'fonte_escura':!conteudo.offline}"
                     ng-click="downloadOpenConteudo(conteudo, conteudo.id_formatoarquivo == 1 ? 'pdf' : 'zip', true, $index)"
                  >{{conteudo.st_descricaoconteudo}}</a>
                  <i class="icon-small icon icon-icon_offline" ng-click="checkDownloadDeleteConteudo(conteudo,false,$index)"></i>
                </ion-item>
              </ion-list>
            </accordion-body >
          </accordion>
          <accordion ng-repeat="contentItem in ::content | orderBy: 'contentItem.name'">
            <accordion-head>

              <!-- Ao iniciar o objeto dispara no ng-init a consulta das disciplinas -->
              <ion-item accordion-head="true" class="item item-disc-mod ">
                <h3 class="title_3 fonte_escura">{{::contentItem.name | capitalize:true}} </h3>
              </ion-item>
            </accordion-head>
            <accordion-body class="hide">
              <ion-list class="list list-custom">
                <ion-item ng-repeat="item in ::contentItem.modules" ng-click="goToMod(item)" ng-if="item.modname != 'label' && item.modname != 'resource'" class="item-text-wrap item-icon-right item-icon-custom no-border-top">
                  <a class="title_4 " ng-class="{fonte_cinza_1: item.modname !='forum' , fonte_escura : item.modname =='forum'}">{{::item.name}}</a>
                  <i class="icon-small icon " ng-class="getModIcon(item)"></i>
                </ion-item>
              </ion-list>

            </accordion-body>
          </accordion>
