<ion-view hide-nav-bar="false" view-title="Conteúdos Baixados" class="rubyonic-pane">
  <ion-header-bar align-title="center" class="bar profile-bar">
    <div class="buttons">
      <button class="button button-clear icon ion-navicon" menu-toggle="left"></button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header scroll">
    <div ng-show="!conteudos" class="item item-text-wrap item-icon-right item-icon-custom corpo_3">
      Você não tem conteúdos baixados, acesse sua disciplina e baixe
      seus conteúdos para que possa continuar estudando sem conexão com a internet!
    </div>

    <ion-list ng-show="conteudos" class="list">
      <accordion ng-repeat="(key, row) in list">
        <accordion-head>
          <ion-item accordion-head="true" class="item-list-divider">
            {{row.st_disciplina}}
          </ion-item>
        </accordion-head>
        <accordion-body>
          <ion-item ng-repeat="conteudolist in row.conteudos" class="item item-text-wrap item-icon-right item-icon-custom">
            <a class="title_4 fonte_escura" ng-click="abrirConteudo(conteudolist)">
              {{conteudolist.st_descricaoconteudo}}
            </a>
            <i class="icon icon-icon_delarc" ng-click="deleteConteudo(conteudolist, $index)"></i>
          </ion-item>
        </accordion-body>
      </accordion>
    </ion-list>

  </ion-content>
</ion-view>
