<ion-view hide-nav-bar="false" view-title="{{storageConteudoAtivo.st_descricaoconteudo}}" class="pane-conteudo">
  <ion-nav-bar class="bar-conteudo bar-header bar" align-title="left">
    <!-- <ion-nav-back-button class="branco"></ion-nav-back-button> -->
    <ion-nav-buttons side="right">
      <!-- <i class="button button-icon button-clear icon-icon_atend"></i> -->
      <i class="button button-icon button-clear icon-icon_setaE" ng-click="myGoBack()"></i>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="content-conteudo" overflow-scroll="true">
    <!--<div style="">-->
      <iframe ng-src="{{urlConteudoDisciplina}}"
              style="overflow:auto; -webkit-overflow-scrolling:touch; width: inherit; height: inherit; width: inherit; height: inherit;"></iframe>
    <!--</div>-->
  </ion-content>
</ion-view>
