<ion-view hide-nav-bar="false" view-title="{{assignment.name}}" class="rubyonic-pane forum">
  <ion-content>
    <ion-list class="list" ng-if="assignment.name">
      <ion-item class="item">
        <div class="clean-style" ng-bind-html="assignment.intro">
        </div>
      </ion-item>
      <ion-item class="item">
        <p>
          <b>Data de Entrega:</b> {{assignment.dtDueDate.format("DD/MM/YYYY HH:mm:ss")}}
        </p>
      </ion-item>
      <div ng-if="submissionData">

        <ion-item class="item">
          <p>
            <b>Status de Envio:</b> {{submissionData.statusPt}}
          </p>
        </ion-item>
        <ion-item class="item">
          <p>
            <b>Última modificação:</b> {{assignment.dtTimeModified.format("DD/MM/YYYY HH:mm:ss")}}
          </p>
        </ion-item>
        <ion-item class="item" ng-repeat="plugin in submissionData.submission.plugins">
          <p>
            <b>{{plugin.name}}</b>
            <p ng-if="plugin.type == 'file'">{{plugin.fileareas[0].files[0].filepath}}</p>
            <p ng-if="plugin.type == 'onlinetext'">{{plugin.editorfields[0].text}}</p>
            <ion-list ng-if="plugin.type == 'comments'">
              <ion-item ng-repeat="comment in comments">
                <p  class="clean-style" ng-bind-html="comment.content | removeImgTags"></p>
              </ion-item>


            </ion-list>
          </p>
        </ion-item>
      </div>

      <ion-item class="item" ng-if="dateLimit">
        <h5>A data limite para postagem foi alcançada</h5>
      </ion-item>
      <ion-item class="item item-icon-custom" ng-click="submission()" ng-if="!dateLimit">
        <button class="button button-block button-primary">
          Enviar Exercício
        </button>
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer-bar class="row-padding">
    <button class="button button-clear pull-right" ui-sref="app.disciplina.show.conteudo({id_disciplina:storageDisciplinaAtiva.id_disciplina})">
      Voltar
    </button>
  </ion-footer-bar>
</ion-view>

<script id="submissionSave" type="text/ng-template">
  <ion-modal-view hide-nav-bar="true" view-title="Novo Envio">
    <ion-content>
      <form name="formPostResponse" class="padding list form-ocorrencia">

        <label class="item item-textarea border-top">
          <textarea ng-model="formSubmission.text" class="fonte_regular corpo_3 border-bottom" rows="4" ng-trim="false" placeholder="Digite a sua resposta"
            required></textarea>
        </label>
        <label class="item ">

          <button class="button button-clear" ng-click="chooseFile()">ESCOLHER ARQUIVO</button>
          <p>
            {{fileName}}
          </p>
        </label>

        <div class="button-bar padding-vertical">
          <button class="button button-clear" ng-click="closeModal()" type="button">CANCELAR</button>
          <button class="button button-clear" ng-click="saveSubmission(formSubmission)" ng-disabled="!formPostResponse.$valid || !fileName"
            type="submit">ENVIAR</button>
        </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>
