<ion-view view-title="Login">
  <ion-content class="fundo-portal panel-login">
    <div id="cabecalho-login" class="text-center">

    <img src="assets/img/logo.png" alt="" />
    </div>
    <form name="formLogin" novalidate id="formLogin" ng-submit="doLogin()" class="col login-form">

      <div class="list list-inset ">
        <label class="item-input item padding-top">
          <input spellcheck="false" autocomplete="off" class="corpo_2" autocorrect="off" autocapitalize="off"
                 type="text"
                 name="username" ng-model="loginData.login" ng-keyup="nextInput($event)"
                 required placeholder="E-mail ou Usuário *" ng-pattern="loginPattern" maxlength="120">
        </label>
        <label class="item item-input assertive corpo_3">
          <span ng-show="formLogin.$submitted && formLogin.username.$error.required">
            Informe seu e-mail ou nome de usuário.
          </span>
          <span ng-show="formLogin.username.$error.pattern">
            <br/>Caracteres especiais não são permitidos.
          </span>
        </label>
        <label class="item item-input ">
          <input autocomplete="off" class="corpo_2" type="password" name="senha" ng-model="loginData.senha" required
                 placeholder="Senha *" ng-keyup="nextInput($event)">
        </label>
        <label class="item item-input assertive corpo_3">
          <span ng-show="formLogin.$submitted && formLogin.senha.$error.required">
            Informe sua senha.
          </span>
        </label>
        <label class="item item-input padding-top">
          <button class="button button-clear corpo_2" ui-sref="recuperar_senha" type="button">
            <i class="icon icon-icon_seg"></i>
            Esqueci meus dados de acesso.
          </button>
        </label>

        <label class="item item-input padding-top">
          <button class="button btn-login" type="submit" ng-disabled="!formLogin.$valid">
            Entrar
          </button>
        </label>
      </div>

    </form>

  </ion-content>
</ion-view>
