<ion-view view-title="Recuperar Senha" hide-nav-bar="true" >
  <ion-header-bar align-title="center" class="header-login bar bar-header disable-user-behavior">
    <button class="button back-button buttons branco button-clear header-item" ui-sref="login"
            tabindex="0"><i class="icon ion-ios-arrow-back"></i>
      Voltar
    </button>
  </ion-header-bar>
  <ion-content class="fundo-portal" scroll="false">
    <div id="cabecalho-login" class="item fundo-portal"></div>
    <form novalidate name="formRecuperarSenha" ng-submit="recuperarSenha()" class="col login-form">

      <div class="list list-inset">
        <label class="item item-input item-text-wrap">
          <p class="corpo_2">
            <i class="icon icon-icon_seg"></i>
            Digite corretamente seu e-mail que uma nova senha será enviada para você.
          </p>
        </label>
        <label class="item-input item padding-top">
          <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off"
                 type="email" name="username" ng-model="loginData.login" required
                 placeholder="E-mail*"
                 ng-pattern="emailPattern"
                 maxlength="120">
        </label>

        <label class="item item-input item-text-wrap assertive corpo_3">
          <span
            ng-show="formRecuperarSenha.$submitted && formRecuperarSenha.username.$error.required">
            Informe um e-mail correto
          </span>
          <span ng-show="formRecuperarSenha.username.$error.pattern">
            <br/>Endereço de e-mail inválido, por favor informe um e-mail correto.
          </span>
        </label>

        <label class="item item-input padding-top">
          <button class="button btn-login" type="submit" ng-disabled="!formRecuperarSenha.$valid">
            Enviar
          </button>
        </label>
      </div>


    </form>
  </ion-content>
</ion-view>
