<ion-view hide-nav-bar="false" class="rubyonic-pane" view-title="Notas">

  <ion-header-bar align-title="center" class="bar bar-portal profile-bar">
    <div class="buttons">
      <button class="button button-clear icon ion-navicon" menu-toggle="left"></button>
    </div>
  </ion-header-bar>

  <ion-content class="grade-nota ">
    <div class="nota-header">

      <div class="row disciplina_title">
        <i class="icon icon-icon_aula icon-small"></i>
        <p class="title_3 fonte_escura">
          {{stTituloExibicaoDisciplina}}
        </p>

      </div>

      <div class="row nota_title fonte_escura"></div>
      <div class="row no-padding">
        <div class="col col-50 no-padding" align="center">
          <chart-portal mysize="big"
                        ng-if="storageDadosAndamento.ar_moodle"
                        statuscomplete="storageDadosAndamento.st_statuscomplete"
                        percent="storageDadosAndamento.ar_moodle.nu_percentualconcluido">
          </chart-portal>
        </div>
        <div class="col col-50 text-left">
          <div class="row">
            <p class="title_3 status_text text-left">
              {{notas.disciplinas[0].st_status ? notas.disciplinas[0].st_status : '-'}}
            </p>
          </div>
          <div class="row ">
            <i class="icon icon-icon_nota icon-medium"></i>
            <span class="corpo_3 icon_text">
              {{notas.nu_notafinal ? notas.nu_notafinal : '-'}}
            </span>
          </div>
          <div class="row ">
            <i class="icon icon-icon_time icon-medium"></i>
            <span class="corpo_3 icon_text">
              {{storageDadosAndamento.nu_cargahoraria}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <ion-list>
      <ion-item ng-if="notas.st_notaead" class="item item-text-wrap item-icon-right item-icon-custom">
        <span class="title_4">Atividades à Distância</span>
        <div class="icon">
          <i class="icon-custom icon-icon_nota">
            <p class="corpo_3 text-center">
              {{notas.st_notaead ? notas.st_notaead : '-'}}
            </p>
          </i>
        </div>
      </ion-item>

      <ion-item ng-repeat="(index, nota) in notas.disciplinas[0].ar_notasmoodle" style="padding: 5px; line-height: 12px; padding-left: 10px; font-size: 11px;" class="item item-text-wrap item-icon-right item-icon-custom item-notas-moodle" ng-if="!$first">
        <div class="title_4" ng-if="$first">Total na Disciplina EAD</div>
        <div class="title_4" ng-if="!$first" style="overflow-wrap: break-word; max-width: 80%;">&nbsp;&nbsp;{{ nota.name }}</div>

        <div class="icon">
          <i class="icon-custom">
            <p class="corpo_3 text-center">
              {{ nota.grades[0].str_grade ? nota.grades[0].str_grade : '-'}}
            </p>
          </i>
        </div>
      </ion-item>

      <ion-item ng-if="notas.st_notaead_prr" class="item item-text-wrap item-icon-right item-icon-custom">
        <span class="title_4">Atividades à Distância PRR</span>
        <div class="icon">
          <i class="icon-custom icon-icon_nota">
            <p class="corpo_3 text-center">
              {{notas.st_notaead_prr ? notas.st_notaead_prr : '-'}}
            </p>
          </i>
        </div>
      </ion-item>

      <ion-item ng-repeat="(index, nota) in notas.disciplinas[0].ar_notasmoodle_prr" style="padding: 5px; line-height: 12px; padding-left: 10px; font-size: 11px;" class="item item-text-wrap item-icon-right item-icon-custom item-notas-moodle" ng-if="!$first">
        <div class="title_4" ng-if="$first">Total na Disciplina EAD</div>
        <div class="title_4" ng-if="!$first" style="overflow-wrap: break-word; max-width: 80%;">&nbsp;&nbsp;{{ nota.name }}</div>

        <div class="icon">
          <i class="icon-custom">
            <p class="corpo_3 text-center">
              {{ nota.grades[0].str_grade ? nota.grades[0].str_grade : '-'}}
            </p>
          </i>
        </div>
      </ion-item>

      <ion-item ng-if="notas.id_avaliacaoatividade" class="item item-text-wrap item-icon-right item-icon-custom">
        <span class="title_4">Atividade Presencial</span>
        <div class="icon">
          <i class="icon-custom icon-icon_nota">
            <p class="corpo_3 text-center">
              {{notas.st_notaatividade ? notas.st_notaatividade : '-'}}
            </p>
          </i>
        </div>
      </ion-item>

      <ion-item ng-if="notas.id_tiponotatcc && notas.dt_defesatcc" class="item item-text-wrap item-icon-right item-icon-custom">
        <span class="title_4">TCC</span>
        <div class="icon">
          <i class="icon-custom icon-icon_nota">
            <p class="corpo_3 text-center">
              {{notas.st_notatcc ? notas.st_notatcc : '-'}}
            </p>
          </i>
        </div>
      </ion-item>

      <ion-item ng-if="notas.id_tiponotafinal" class="item item-text-wrap item-icon-right item-icon-custom disciplinas">
        <span class="title_4">Prova Presencial</span>
        <div class="icon">
          <i class="icon-custom icon-icon_nota">
            <p class="corpo_3 text-center">
              {{notas.st_notafinal ? notas.st_notafinal : '-' }}
            </p>
          </i>
        </div>
      </ion-item>

      <ion-item ng-if="notas.st_notarecuperacao && notas.st_notarecuperacao != '-'"
                class="item item-text-wrap item-icon-right item-icon-custom disciplinas">
        <span class="title_4">Recuperação</span>
        <div class="icon">
          <i class="icon-custom icon-icon_nota">
            <p class="corpo_3 text-center">
              {{notas.st_notarecuperacao ? notas.st_notarecuperacao : '-' }}
            </p>
          </i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="row-padding">
    <button class="button button-clear pull-right"
            ui-sref="app.disciplina.show.conteudo({id_disciplina:storageDisciplinaAtiva.id_disciplina})"> Voltar
    </button>
  </ion-footer-bar>
</ion-view>
