/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #50BCBD !default;
$calm: #7FA2D5 !default;
$balanced: #79B652 !default;
$energized: #F5A04C !default;
$assertive: #E84242 !default;
$royal: #886aea !default;
$dark: #444 !default;


$positive_custom: #CBE2EC !default;
$balanced_custom: #D3E6C8 !default;
$assertive_custom: #ECC3BB !default;
//
// $positive_custom: darken(#CBE2EC, 40%) !default;
// $balanced_custom: darken(#D3E6C8, 40%)  !default;
// $assertive_custom: darken(#ECC3BB, 40%) !default;



// $default: #A73866 !default;
// $default2: #A73866;
// $default3: #A73866;
// $default4: #E84242;
// $default5: #682A3C;

//Minhas Cores
$cor_portal: rgb(167,56,102); //#2c3e50;

$cor_portal2:rgb(104,42,60); //#2c3e50;


// $cor_contraste_escuro: darken($cor_portal, 10%) ;
$cor_contraste_escuro: lighten($cor_portal, 10%) ;
$cor_contraste_escuro2: lighten($cor_portal2, 20%);


// $cor_contraste_escuro: #682A3C;
$branco: #FFFAFA ;
$cor_contraste_claro: lighten($cor_portal, 65%);
$cor_clara:lighten(rgb(245, 160, 76), 10%);


$cor_ativo: darken($cor_portal, 40%);

//fonte

$fonte_escura: #030303;
$fonte_cinza_1: #626060;
$fonte_cinza_2: #999999;
$fonte_cinza_3: #5E5E5E;
$icone_corpo_cinza: #615F5F;
$titulo_0_size: 26px;
$titulo_1_size: 22px;
$titulo_2_size: 20px;
$titulo_3_size: 18px;
$titulo_4_size: 16px;
$corpo_1_size: $titulo_4_size;
$corpo_2_size: 14px;
$corpo_3_size: 12px;
$corpo_4_size: 10px;

//Background
$cor_background_home: #EEEEEE;
$cor_background_header: #E2E2E2;
$cor_background_cursos: #E1E1E1;
$cor_background_divider: #E6E6E6;
$border_color_default: #BDBDBD;

$cor_barra: $cor_portal; //#1a4c6e;
$fundo_header: #f5f5f5;
$preto: #000;
$cor_botao: #201E1E;

//Menu

$width_menu_closed: 72px;
$width_menu: 305px;
$recuo_menu: 233px;
$height_itens_menu_closed: 56px;
$titulo_menu_size: $titulo_3_size;
$texto_menu_size: $corpo_3_size;
$texto_menu_weight: lighter;

//Menu Ativo
$cor_titulo_menu_ativo: $branco;
$cor_descricao_menu_ativo: $cor_contraste_claro;
$cor_item_menu_ativo: $cor_contraste_escuro;
$cor_icone_ativo: $cor_ativo;
//Menu Cores/Borda
$cor_titulo_menu: $branco;
$cor_descricao_menu: $cor_contraste_claro;
$cor_icone_menu: $cor_descricao_menu;

//Dados do usuário
$cor_nome_usuario_menu: $cor_contraste_claro;
$cod_dados_usuario_menu: $branco;
$borda_thumb_user: #7a7c96;

$cor_background: $cor_portal;

// Setting the default button to button-outline.
$button-default-bg: transparent;
$button-default-text: $cor_ativo;
$button-default-border: $cor_ativo;
$button-default-active-bg: $cor_ativo;
$button-default-active-border: $cor_ativo;

$stable: #c1c1c1 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../../lib/ionic/fonts" !default;

//Menu
$cor_place_holder_login: $branco;
$cor_borda_input_login: $cor_place_holder_login;
$cor_link_login: $branco;
$cor_texto_botao_login: $cor_portal;

$altura-barra-topo: 55px;

/* Cores para criação das classes para o template dos charts.
Não adicionar # ao acrescentar cores, já que serão geradas classes
no formato .chart-79B652. E .chart-#79B652 quebraria o CSS.
*/

$chartColors: '79B652', '0C90C4', 'CF452A', '79B652';

//fix margin top on ios
$ios-margin-top: 20px;
