<ion-modal-view view-title="NOVA INTERAÇÃO"
                hide-nav-bar="true">
  <ion-content>

    <form name="formInteracao" ng-submit="salvarInteracao()" class="list padding">
      <div class="item item-divider padding">
        <h2 class="fonte_cor_portal fonte_regular">NOVA INTERAÇÃO</h2>
        <p class="corpo_3 no-bold fonte_escura fonte_regular">Sua solicitação será atendida em até 48hs.</p>
      </div>

      <label class="item">
        <span class="input-label corpo_3 fonte_regular fonte_cinza_1">Em que podemos ajudar?</span>
        <div class="row responsive-sm">
          <textarea class="col fonte_regular"
                    ng-model="interacao.st_descricao"
                    ng-change="validaQtdMaxCaracteresAtualizaContador()"
                    ng-trim="false"
                    required></textarea>
          <span class="fonte_cinza_1 fonte_regular corpo_4 text-right">{{qtdCaraterTramite}} / {{maxCaracterTramite}}</span>
        </div>
      </label>
      <div class="button-bar padding-vertical">
        <button class="button button-clear" ng-click="closeModal()" type="button">CANCELAR</button>
        <button class="button button-clear" ng-disabled="!formInteracao.$valid" type="submit">ENVIAR</button>
      </div>
    </form>

  </ion-content>
</ion-modal-view>
