<ion-modal-view view-title="NOVA INTERAÇÃO"
                hide-nav-bar="true">

  <ion-content>
    <form name="formOcorrencia" ng-submit="salvarOcorrencia()" class="padding list form-ocorrencia">


      <div class="item item-divider">
        <h2 class="fonte_cor_portal fonte_regular">ATENDIMENTO</h2>
        <p class="corpo_3 no-bold fonte_escura fonte_regular">Sua solicitação será atendida em até 48hs.</p>
      </div>
      <label ng-show="msgErro" class="item item-text-wrap corpo_3 fonte_regular assertive">
        {{msgErro}}
      </label>

      <label class="item item-input border-top">
        <input type="text" class="corpo_3 fonte_regular" name="st_titulo" required ng-model="ocorrencia.st_titulo"
               placeholder="Título">
      </label>

      <!--<label class="item item-select border-top">-->
      <!--TIPO-->
      <!--<select class="col corpo_3 fonte_regular" required name="id_categoriaocorrencia"-->
      <!--ng-model="ocorrencia.id_categoriaocorrencia">-->
      <!--<option selected value="">Selecione um tipo...</option>-->
      <!--<option ng-repeat="categoria in categoriasOcorrencia" value="{{categoria.id_categoriaocorrencia}}">-->
      <!--{{categoria.st_categoriaocorrencia}}-->
      <!--</option>-->
      <!--</select>-->
      <!--</label>-->

      <label class="item item-select border-top" ng-if="!disciplinaAtiva">
        <!--Matriculas-->
        <select ng-change="carregaDadosFormulario()" required ng-model="ocorrencia.id_matricula"
                class="col corpo_3 fonte_regular" name="id_matricula">
          <option value="" selected>Selecione o Curso...</option>
          <option ng-repeat="matricula in matriculasAluno" value="{{matricula.id_matricula}}">
            {{matricula.st_curso}}
          </option>
        </select>
      </label>

      <label class="item item-select border-top" ng-if="!disciplinaAtiva" ng-show="salasAluno.length">
        <!--Sala de aula-->
        <select ng-model="ocorrencia.id_saladeaula" required
                class="col corpo_3 fonte_regular" name="id_saladeaula">
          <option value="" selected>Selecione a Disciplina...</option>
          <option ng-repeat="sala in salasAluno" value="{{sala.id_saladeaula}}">
            {{sala.st_disciplina}}
          </option>
        </select>
      </label>


      <label class="item item-select border-top" ng-show="assuntosOcorrencia.length">
        <!--Assunto-->
        <select ng-change="getSubassunto()" required class="col corpo_3 fonte_regular" name="id_assuntopai"
                ng-model="ocorrencia.id_assuntopai">
          <option selected value="">Selecione um assunto...</option>
          <option ng-repeat="assunto in assuntosOcorrencia" value="{{assunto.id_assuntoco}}">
            {{assunto.st_assuntoco}}
          </option>
        </select>
      </label>

      <label class="item item-select border-top" ng-show="subAssuntosOcorrencia.length">
        <!--Sub assunto-->
        <select ng-model="ocorrencia.id_assuntoco" required class="col corpo_3 fonte_regular" name="id_assuntoco">
          <option value="" selected>Selecione um subassunto...</option>
          <option ng-repeat="subassunto in subAssuntosOcorrencia" value="{{subassunto.id_assuntoco}}">
            {{subassunto.st_assuntoco}}
          </option>
        </select>
      </label>


      <label class="item item-textarea border-top">
          <textarea name="st_ocorrencia" ng-model="ocorrencia.st_ocorrencia" class="fonte_regular corpo_3 border-bottom"
                    rows="4"
                    ng-change="validaQtdMaxCaracteresAtualizaContador()"
                    ng-trim="false"
                    placeholder="Em que podemos ajudar?"
                    required></textarea>
        <span class="fonte_cinza_1 force-right fonte_regular corpo_4 text-right no-padding">
          {{qtdCaraterDescricao}} / {{maxCaracterDescricao}}
        </span>
      </label>

      <div class="button-bar padding-vertical">
        <button class="button button-clear" ng-click="closeModalOcorrencia()" type="button">CANCELAR</button>
        <button class="button button-clear" ng-disabled="!formOcorrencia.$valid" type="submit">ENVIAR</button>
      </div>
    </form>


  </ion-content>
</ion-modal-view>
