<ion-view hide-nav-bar="false" view-title="{{ocorrencia.st_titulo}}" class="rubyonic-pane">
  <ion-header-bar align-title="center" class="bar profile-bar"></ion-header-bar>
  <ion-content>

    <div class="post cabecalho-msg">
      <div class="post-overlay"></div>
      <div class="post-details ">
        <h3 class="post-title">
          OCORRÊNCIA Nº {{ocorrencia.id_ocorrencia}} - {{ocorrencia.st_titulo}}
        </h3>
        <h4 class="post-by brand-base-text-color clearfix">
                <span class="post-date">
                    <i class="ion-ios-clock-outline"></i> {{ocorrencia.dt_cadastro | asDate}}
                </span>
        </h4>
      </div>
    </div>
    <div class="row post-section">
      <div class="post-content">
        <p><b>Situação: </b> {{ocorrencia.st_situacao}}</p>
        <p><b>Tipo: </b> {{ocorrencia.st_categoriaocorrencia}}</p>
        <p><b>Assunto: </b> {{ocorrencia.st_assuntocopai}}</p>
        <p><b>Sala de Aula: </b> {{ocorrencia.st_saladeaula}}</p>
        <p><b>Evolução: </b> {{ocorrencia.st_evolucao}}</p>
        <p><b>Responsável: </b> {{ocorrencia.st_nomeresponsavel}}</p>
        <div ng-bind-html="ocorrencia.st_ocorrencia | parseHtml"></div>
        <button ng-show="ocorrencia.id_situacao != 99" ng-click="encerrarAtendimento()"
                class="button button-block button-custom">
          ENCERRAR ATENDIMENTO
        </button>
        <button ng-show="ocorrencia.id_situacao == 99" ng-click="reabrirAtendimento()"
                class="button button-block button-stable">
          REABRIR ATENDIMENTO
        </button>
      </div>
    </div>


    <div class="chat-window padding">
      <h3><i class="icon ion-chatbubbles"></i> Interações</h3>


      <form ng-show="ocorrencia.id_situacao != 99" ng-submit="salvarInteracao()" class="row item-input-inset">
        <label class="item-input-wrapper">
          <textarea class="col item-input" ng-model="interacao.st_descricao" placeholder="Descrição..."
                    required></textarea>
        </label>
        <button class="button button-clear button-dark" type="submit">
          <i class="icon ion-paper-airplane"></i>
        </button>
      </form>


      <div class="chat-message is-inbound" ng-if="!interacoes.length">
        <i class="icon ion-quote"></i>
        Nenhuma interação criada para essa ocorrência. Caso queira criar uma nova interação, clique no botão acima.
      </div>


      <div ng-repeat="interacao in interacoes"
           class="chat-message
           {{interacao.id_usuario == ocorrencia.id_usuariointeressado ? 'is-outbound' : 'is-inbound'}}">
        <div class="chat-label">
          {{interacao.st_nomecompleto}}
          <div class="text-shift-right">{{interacao.st_cadastro}}</div>
        </div>
        <i class="icon ion-quote"></i>
        {{interacao.st_tramite}}
      </div>

    </div>


  </ion-content>
  <ion-footer-bar class="row-padding">
    <button class="button button-clear pull-right" ui-sref="app.servico_atencao.list"> Voltar</button>
  </ion-footer-bar>
</ion-view>
