<!-- Feed Screen - Refer to feed.scss -->
<ion-view hide-nav-bar="false" class="atendimento-show-pane" view-title="Atendimento"
          ng-controller="ServicoAtencaoShowCtrl">
  <ion-content>
    <ion-refresher pulling-text="Puxe para atualizar..."
                   on-refresh="carregaDadosOcorrencia(ocorrencia.id_ocorrencia, true)"></ion-refresher>
    <div class="list ">
      <div class="item item-body padding-10-16">

        <div class="no-margin" ng-click="voltarListaOcorrencias()">
          <i class="icon icon-icon_setaE"></i>
          <small class="force-right corpo_3" ng-if="ocorrencia.dt_ultimotramite">
            {{ocorrencia.dt_ultimotramite | asDate: 'dd.M.yyyy'}}
          </small>
        </div>

        <span class="title_1 no-margin">{{ocorrencia.st_assuntoco}}</span>
        <h3 class="title_3 fonte_light no-margin">{{ocorrencia.st_titulo}}</h3>
        <div class="text-right padding-top">
          <small class="{{ocorrencia.situacao_color}} corpo_3">{{ocorrencia.st_situacao}}</small>
        </div>
        <div class="border-top">
          <button class="button button-small button-clear corpo_2 pull-right" ng-click="abreModalInteracao(ocorrencia)"
                  ng-show="ocorrencia.id_situacao != 99">INTERAGIR
          </button>

          <button class="button button-small button-clear corpo_2 pull-right"
                  ng-show="ocorrencia.id_situacao != 99 && ocorrencia.id_situacao != 112"
                  ng-click="encerrarAtendimento()">
            ENCERRAR
          </button>

          <button class="button button-small button-clear corpo_2 pull-right"
                  ng-show="ocorrencia.id_situacao == 99 || ocorrencia.id_situacao == 112"
                  ng-click="reabrirAtendimento()">
            REABRIR
          </button>
        </div>
      </div>

      <div class="interacoes-list">
        <div ng-repeat="interacao in interacoes">

          <!--Interação feita por outro usuario-->
          <div ng-if="interacao.id_usuario != ocorrencia.id_usuariointeressado">
            <div class="item item-divider row no-background">
              <div class="col col-33 ">
                <small class="corpo_3">{{interacao.dt_cadastro | asDate: 'dd.M.yyyy'}}</small>
              </div>
              <div class="col col-67">
                <h3 class="force-right corpo_2">{{interacao.st_nomecompleto}}</h3>
              </div>
            </div>
            <div class="item item-body no-background padding-bottom">
              <p class="corpo_2" ng-bind-html="interacao.st_tramite | parseHtml"></p>
            </div>
          </div>

          <!--Interação feita pelo usuario logado-->
          <div ng-if="interacao.id_usuario == ocorrencia.id_usuariointeressado"
               class="item item-text-wrap padding-bottom">
            <small class="corpo_3">{{interacao.dt_cadastro | asDate: 'dd.M.yyyy'}}</small>
            <p class="corpo_2" ng-bind-html="interacao.st_tramite | parseHtml"></p>
          </div>


        </div>

        <!--Interação padrão com o texto da ocorrencia-->
        <div ng-if="ocorrencia.st_ocorrencia">
          <div class="item item-text-wrap ">
            <small class="corpo_3">{{ocorrencia.dt_cadastro | asDate: 'dd.M.yyyy'}}</small>
            <p class="corpo_2" ng-bind-html="ocorrencia.st_ocorrencia | parseHtml"></p>
          </div>
        </div>

        <!--Exibe caso não haja interação-->
        <div ng-if="!interacoes.length && !ocorrencia.st_ocorrencia">
          <div class="item item-text-wrap ">
            <p class="corpo_2">Nenhuma interação criada para essa ocorrência.
              <!--Exibe caso a ocorrencia ainda permita cadastrar interações-->
            <span
              ng-show="ocorrencia.id_situacao != 99"> Caso queira criar uma nova interação, clique no botão acima.</span>
            </p>
          </div>
        </div>


      </div>
    </div>

  </ion-content>
</ion-view>
