<!-- Feed Screen - Refer to feed.scss -->
<ion-view hide-nav-bar="false" class="atendimento-pane" view-title="Atendimento" ng-controller="ServicoAtencaoCtrl">
  <ion-content>
    <ion-refresher pulling-text="Puxe para atualizar..."
                   on-refresh="getOcorrencias('ocorrencias', true)"></ion-refresher>

    <ion-list ng-if="ocorrencias.length">
      <ion-item ng-click="abreOcorrencia(ocorrencia)"
                ng-repeat="ocorrencia in ocorrencias | orderBy: {'dt_ultimotramite': 'desc','dt_cadastro':'desc'}">
        <small class="force-right corpo_3" ng-if="ocorrencia.dt_ultimotramite">
          {{ocorrencia.dt_ultimotramite | asDate: 'dd.M.yyyy'}}
        </small>
        <h2 class="title_4">{{ocorrencia.st_assuntoco}}</h2>
        <p class="corpo_2 fonte_escura">{{ocorrencia.st_titulo}}</p>
        <p class="corpo_2" ng-bind-html="ocorrencia.st_ocorrencia | removeHtmlTags"></p>
        <small class="{{ocorrencia.situacao_color}} corpo_3 item-note padding-top">{{ocorrencia.st_situacao}}</small>
      </ion-item>
    </ion-list>

    <ion-list ng-if="!ocorrencias.length">
      <p class="padding corpo_1">
        Você não tem nenhuma ocorrência criada.
        <br>Para criar uma ocorrência clique no ícone
        <i class="icon icon-icon_atend destacar-icone"></i> na barra acima.
      </p>
    </ion-list>
  </ion-content>
</ion-view>
