<!-- Feed Screen - Refer to feed.scss -->
<ion-view hide-nav-bar="false" class="rubyonic-pane" view-title="Mensagens">
    <ion-content>
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()">
        </ion-refresher>
        <div >
            <ion-list ng-repeat="(indexMes, mes) in mensagens">

              <div class="item-list-divider">
                {{mes.mes | date : 'MMMM'}}
              </div>

              <ion-item  ng-click="acessarMensagem(mensagem, index, indexMes)" ng-repeat="(index, mensagem) in mes.mensagens | filter:filter | orderBy:'dt_cadastromsg':'desc'"
                        class="item item-text-wrap item-icon-right item-icon-custom">
                <span class="title_4">{{mensagem.st_mensagem}}</span>
                <i class="icon-menu icon ion-email" ng-class="{'icon-inactive': mensagem.id_evolucao == 43}"> </i>
              </ion-item>

            </ion-list>

        </div>

        <div ng-show="!mensagens" class="list">
            <div class="item item-icon-left">
                <span class="icon ion-ios-email-outline"></span>
                <span ng-show="finallyRequest">Nenhuma mensagem postada ainda.</span>
                <span ng-show="!finallyRequest">Aguarde....</span>
            </div>
        </div>
    </ion-content>
</ion-view>
