<!-- Feed Screen - Refer to feed.scss -->
<ion-view hide-nav-bar="false" class="rubyonic-pane" view-title="Mensagens">
    <ion-content class="" style="margin-bottom: 20px">
        <ion-scroll direction="xy" class="overflow-xy">
            <!-- Post Content -->
            <div class="row row-border-bottom">
                  <span class="title_2">
                    {{mensagem.st_mensagem}}
                  </span>
            </div>
            <div class="row row-padding text-center">
              <span class="corpo_3 bold">
              {{mensagem.dt_cadastromsg | asDate}}</span>
            </div>

            <div class="row padding-side-16">
                <div class="corpo_3 message_body responsive-container"
                     ng-bind-html="mensagem.st_texto | removeHtmlTags"></div>
            </div>
        </ion-scroll>

    </ion-content>
    <ion-footer-bar class="row-padding">
        <button class="button button-clear pull-right" ui-sref="app.mensagem.list"> Voltar</button>
    </ion-footer-bar>
</ion-view>
