<ion-view hide-nav-bar="false" view-title="{{VwAlunoGradeIntegracao.st_tituloexibicaoprojeto}}" class="rubyonic-pane disciplina-pane">
  <ion-content>
    <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="detailsDisciplinaSala(true)"></ion-refresher>
    <div class="disciplina-header padding-side-16">

      <div class="row disciplina_title">
        <i class="icon icon-icon_aula icon-small"></i>
        <p class="title_3 fonte_escura">
          {{VwAlunoGradeIntegracao.st_disciplina}}
        </p>
      </div>

      <div class="row no-padding">
        <div class="col col-25 no-padding text-right">
          <p class="corpo_4 fonte_cinza_1">

            Início
            {{VwAlunoGradeIntegracao.dt_abertura}}
          </p>
        </div>

        <div class="col col-50 padding-top-30" align="center">
          <div class="bola_temp" ng-if="dadosAndamento.ar_moodle">
            <chart-portal mysize="big"
                          percent="dadosAndamento.ar_moodle.nu_percentualconcluido"
                          statuscomplete="dadosAndamento.st_statuscomplete"
                          statussala="storageDisciplinaAtiva.id_status">
            </chart-portal>
          </div>
        </div>

        <div class="col col-25 no-padding text-left">
          <p class="corpo_4 fonte_cinza_1">
            Término
            {{VwAlunoGradeIntegracao.dt_encerramentosala}}
          </p>
        </div>

      </div>

    </div>
    <div class="height55"></div>
    <ion-nav-view  name="tabs-disciplina"></ion-nav-view>


</ion-content>
</ion-view>
