<ion-view hide-nav-bar="false" view-title="{{posts[0].subject}}" class="pane-conteudo">
  <ion-nav-bar class="bar-conteudo bar-header bar" align-title="left">

    <ion-nav-buttons side="left">
      <i class="button button-icon button-clear icon-icon_setaE" ng-click="myGoBack()"></i>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="discussion">
    <img ng-src="{{image}}" ng-if="image" alt="">
    <ion-list class="list">
      <ion-item class="item item-discussion" ng-if="posts && posts.length" ng-repeat="post in ::posts track by $index" ng-include="'discussionTree'"></ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-footer-bar class="row-padding">
      <button class="button button-clear pull-right" ui-sref="app.disciplina.show.conteudo({id_disciplina:storageDisciplinaAtiva.id_disciplina})">
        Voltar
      </button>
    </ion-footer-bar>
  </ion-footer>
</ion-view>


<!-- Template dos posts -->

<script type="text/ng-template" id="discussionTree">
  <!-- Se for um novo posta adiciona a class para marcar -->
  <div class="discussion" id="{{::post.id}}">
    <div class="discussion-box">
      <div class="discussion-text">

        <h2>{{::post.subject}}</h2>
        <h4>{{::post.userfullname}}</h4>
        <div ng-if="post.message">
          <p ng-bind-html="::post.message | removeImgTags">
          </p>
        </div>
      </div>
      <div class="box-avatar">
        <img img-src="{{::post.userpictureurl}}" moodle-external-file id-matricula='{{storageCursoAtivo.id_matricula}}'  id-saladeaula='{{storageDisciplinaAtiva.id_saladeaula}}' class="img-avatar">
      </div>
    </div>
    <div class="box-button">
        <button ng-if="!post.message" class="button button-clear pull-right btn-small" ng-click="post.readDiscussion(post)">
          Visualizar
        </button>
      <button ng-if="post.message" class="button pull-right button-clear btn-small" ng-click="post.reply(post)">
        Responder
      </button>
    </div>

  </div>
  <ion-list class="childPost" ng-if="post.childrens">
    <ion-item class="item  item-discussion" ng-repeat="post in ::post.childrens" ng-class="{newPost : post.id == newPostId}"
      ng-include="'discussionTree'">
    </ion-item>
  </ion-list>
</script>

<!-- Template da modal -->

<script id="discussionReply" type="text/ng-template">
  <ion-modal-view hide-nav-bar="true" view-title="NOVA INTERAÇÃO">
    <ion-content>
      <form name="formPostResponse" ng-submit="postResponse(newResponse)" class="padding list form-ocorrencia">


        <div class="item item-divider">
          <h2 class="fonte_cor_portal fonte_regular">RESPONDER</h2>
        </div>
        <label class="item item-input border-top">
          <input type="text" class="corpo_3 fonte_regular" name="st_titulo" required ng-model="newResponse.subject" placeholder="Título">
        </label>

        <label class="item item-textarea border-top">
          <textarea ng-model="newResponse.message" class="fonte_regular corpo_3 border-bottom" rows="4" ng-trim="false" placeholder="Digite a sua resposta"
            required></textarea>
        </label>

        <div class="button-bar padding-vertical">
          <button class="button button-clear" ng-click="closeModal()" type="button">CANCELAR</button>
          <button class="button button-clear" ng-disabled="!formPostResponse.$valid" type="submit">ENVIAR</button>
        </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>
