<ion-view hide-nav-bar="false" view-title="{{forum.name}}" class="rubyonic-pane forum has-footer">
  <ion-content>
    <ion-list class="list">
      <ion-item class="item">
        <div>
<p class="clean-style" ng-cloak ng-show="forum.intro" ng-bind-html="forum.intro | removeImgTags">

          </p>
        </div>
      </ion-item>
      <ion-item class="item-text-wrap item-icon-right item-icon-custom no-border-top"  ui-sref="discussion({ discussionId: discussion.discussion })" ng-repeat="discussion in forumData.discussions">
        <a class="title_4 fonte_escura"></a>
          {{discussion.name}}
        </a>
        <p class=" corpo_3">
          {{discussion.numunread}} não lidas
        </p>
        <i class="icon icon-icon_forum"></i>
      </ion-item>
      <ion-item class="item item-icon-custom" ng-if="canAddDiscussion" ng-click="addDiscussion()">
          <button class="button button-block button-primary">
            Adicionar Discussão
          </button>
      </ion-item>
    </ion-list>
  </ion-content>

      <ion-footer-bar class="bar bar-footer">
        <button class="button button-clear pull-right" ui-sref="app.disciplina.show.conteudo({id_disciplina:storageDisciplinaAtiva.id_disciplina})">
          Voltar
        </button>
</ion-footer-bar>

</ion-view>

<script id="createDiscussion" type="text/ng-template">
  <ion-modal-view hide-nav-bar="true" view-title="NOVA DISCUSSÃO">
    <ion-content>
      <form name="formPostResponse" ng-submit="newDiscussion(newDiscussion)" class="padding list form-ocorrencia">


        <div class="item item-divider">
          <h2 class="fonte_cor_portal fonte_regular">RESPONDER</h2>
        </div>
        <label class="item item-input border-top">
        <input type="text" class="corpo_3 fonte_regular" name="st_titulo" required ng-model="newDiscussion.subject"
               placeholder="Título">
      </label>

        <label class="item item-textarea border-top">
          <textarea  ng-model="newDiscussion.message" class="fonte_regular corpo_3 border-bottom" rows="4" ng-trim="false"
            placeholder="Digite a sua resposta" required></textarea>
        </label>

        <div class="button-bar padding-vertical">
          <button class="button button-clear" ng-click="closeModal()" type="button">CANCELAR</button>
          <button class="button button-clear" ng-disabled="!formPostResponse.$valid" type="submit">ENVIAR</button>
        </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>
