<ion-modal-view view-title="Detalhes da promoção" hide-nav-bar="true">
    <ion-content>
        <div class="imagem-detalhe">
            <p><h3>{{promocoes.titulo}}</h3></p>
            <img src="{{promocoes.imagem}}" alt="Sem Imagem" width="{{promocoes.largura(true)}}" height="{{promocoes.altura(true)}}" imagem-erro-detalhe-directive>
            <p id="descricao" ng-bind-html="promocoes.descricao"></p>
            <p><button class="button button-clear button-calm corpo_3" ng-click="promocoes.abrirLink(promocoes.link)">{{promocoes.link}}</button></p>
            <div class="button-bar">
                <button class="button button-clear button-calm corpo_3" ng-click="promocoes.fecharModal()">FECHAR</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>