<ion-view view-title="Oportunidades" hide-nav-bar="false" class="rubyonic-pane">
    <ion-content class="">
        <ion-refresher pulling-text="Puxe para atualizar..."
            on-refresh="promocoes.recarregaPromocoes()"></ion-refresher>
        <div class="imagem" ng-repeat="item in promocoes.promocoes">
            <p>
                <img id="promocoes-imagem" imagem-directive visualizado='{{item.bl_visualizado}}' largura='{{promocoes.largura(false)}}' altura='{{promocoes.altura(false)}}' src="{{promocoes.url}}{{item.st_imagem}}" alt="{{item.st_descricao}}" ng-click="promocoes.detalhe_imagem(item, $event)" imagem-erro-directive>
            </p>
        </div>
    </ion-content>
</ion-view>
