<div class="{{mysize}}">
  <div class="circulo_externo">
    <div class="circulo_externo_cinza">
      <div class="circulo_interno">
        <div class="circulo_interno_cinza x-y-center chart-{{colorClass}}">

          <!-- Se o status não for completo, exibe a porcentagem dentro do chart. -->
          <div ng-if="!salaCompleta">
            <span class="valor_porcentagem">
                <span ng-if="hideNumber != true" >{{percent}}</span>
                <span ng-if="hideNumber != true" class="corpo_3">%</span>
            </span>
          </div>

          <!-- Se o status for Completo, exibe o ícone dentro do chart. -->
          <div ng-if="salaCompleta">
              <i class="icon-icon_disc"></i>
          </div>

        </div>
      </div>
    </div>
    <!--height="105" width="210"-->
    <canvas id="doughnut"
            class="chart chart-doughnut chart-portal"
            chart-options="options"
            chart-colours="colours"
            chart-data="data"
            chart-labels="labels">
    </canvas>
  </div>
</div>
