<!--<ion-side-menu side="left">-->
<ion-content class="menu-screen has-footer">
  <div class="content-menu">
    <!--Entidade Section-->
    <div class="marca-logo-box">
      <img nav-clear menu-close ui-sref="app.home" ng-src="assets/img/logo-40x40.png" class="img-marca-thumb">
    </div>
    <!--End Entidade Section-->

    <!-- Profile Section -->
    <div class="profile-box">
      <div  class="profile-box-thumb">
        <i ng-if="hasAvatar == false" class="icon icon-icon_pessoa3"></i>
        <img ng-if="hasAvatar" ng-src="{{dataUser.user_avatar}}" alt="{{dataUser.first_letter}}"
             class="img-avatar">
      </div>


      <div class="profile-box-details">
        <h4 class="profile-name title_1">{{dataUser.user_name | capitalize:true}}</h4>
        <p class="profile-location">
          <span class=" corpo_3">{{dataUser.user_email}}</span>
        </p>
      </div>
      <i class="profile-settings-icons"></i>
    </div>
    <!-- End Profile Section -->

    <!-- Ionic List -->
    <ion-list>
      <!--itensMenu-->
      <ion-item nav-clear menu-close ui-sref="{{item.href}}"
                ng-repeat="item in itensMenu"
                ng-class="{ 'active': item.active,'disciplina-menu': item.classmenu}"
                class="item-text-wrap item item-icon-right brand-base-text-color item-menu">
        <span class="title_2">{{item.title}}</span>
        <p class="corpo_3" ng-show="item.resume">{{item.resume}}</p>
        <div style="height:100%;" class="icon-menu">
          <i style="position:absolute;" id="{{item.id}}" class="icon-menu icon {{item.icon}}"></i>
          <i ng-if="item.id == 'promocoes-menu' && qtdPromocoes != 0 && qtdPromocoes" style="color: white !important;text-align:center;float:right;right:0;top: 0;margin: 4px;position:absolute;width:20px;background-color:red;border-radius: 50%;height:20px;border:1px solid red;font-size:15px;float:right;" class="icon-menu">{{qtdPromocoes}}</i>
        </div>
      </ion-item>
    </ion-list>
    <!-- End Ionic List -->



  </div>
</ion-content>

<div class="menu-screen no-padding footer-menu">
  <ion-list>
    <ion-item nav-clear menu-close
              class="item item-text-wrap item-icon-left item-menu" ng-click="logout()">
      <a class="item-content">

        <span class="title_2">Sair</span>
        <p class="corpo_3">Obrigado pela Visita</p>
        <i class="icon-menu icon icon-icon_sair"></i>
      </a>
    </ion-item>
  </ion-list>
</div>

<!-- Footer Bar and Buttons -->
<!-- End Footer Bar and Buttons -->
<!--</ion-side-menu>-->
<!--<ion-footer-bar>-->
  <!--<ion-list>-->
    <!--<ion-item nav-clear menu-close-->
              <!--class="item item-text-wrap item-icon-left item-menu" ng-click="logout()">-->
      <!--<a class="item-content">-->

        <!--<span class="title_2">Sair</span>-->
        <!--<p class="corpo_3">Obrigado pela Visita</p>-->
        <!--<i class="icon-menu icon icon-icon_sair"></i>-->
      <!--</a>-->
    <!--</ion-item>-->
  <!--</ion-list>-->
<!--</ion-footer-bar>-->
